@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --color-background:#F3F3F3;
  --color-background-nav:#2B3D50;
  --color-background-home:#344960;
  --color-text-light:#EDEDED;
  --color-text-title:#FF5555;
  --color-text-dark:#3D3D3D;
  --color-button: #003968;
 }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    transition: 0.2s opacity;
}

a:hover {
    opacity: 0.8;
}
ul {
    list-style: none;
}